body {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;;
  /* background-image: linear-gradient(
      to right bottom,
      rgb(225, 242, 247),rgb(55, 84, 161,0.8)
    ); */
}




